body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
  align-items: center;
  margin-top: 15px;
}

.size-select {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 500px;
  margin: 15px 0;
}

.container {
  width: 600px;
  height: 600px;
  display: grid;
  border: 2px solid black;
}

body {
  background-color: antiquewhite;

  font-family: "Lato", sans-serif;
}
